html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-family: 'articulat-cf-normal', sans-serif;
}

h1

a{
  text-decoration: none;
}

p{
  font-size: 28px;
}

.main-content {
  flex: 1;
}
nav {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

nav:first-child{
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 8px 12px;
}

nav ul li a:hover {
    color: #b03b3c;
    text-decoration: underline;
    transition: 0.5s,
}
@media (max-width: 1024px) {
  .styled-block img{
    display: none;
  }
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .submenu {
      display: none !important;
  }
    nav a img, .altBlock img{
      display: none;
    }
    .article-main-block,.article-showcase, .contact-main{
      flex-direction: column !important;
    }
    .article-main-block img{
      max-width: calc(100%) !important;
    }
    .footer-img-container, .about-main img{
      display: none !important;
    }
    .about-main-info{ 
      max-width: 100% !important;
    }
    .styled-block {
      max-height: 700px !important;
    }
    .styled-block img{
      display: none;
    }
    .styled-block-infos {
      max-width: 80% !important;
    }
}

.dropdown {
  position: relative;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  background: transparent;
}

.submenu {
  position: fixed;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  background: #FFFFFF;
  border: 3px solid #E14A4C;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px 40px;
  box-sizing: border-box;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown:hover .submenu,
.submenu:hover {
  opacity: 1;
  visibility: visible;
}


.submenu img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.dropdown-list h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #E14A4C;
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.dropdown-sublist {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dropdown-sublist h5 {
  margin: 5px 0;
}

.dropdown-sublist a {
  text-decoration: none;
  color: #000;
}

.dropdown-sublist a:hover {
  color: #b03b3c;
  text-decoration: underline;
}

.dropdown:hover .submenu {
  display: flex;
}


.contactButton {
    background-color: #E14A4C;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 8px 12px;
}

nav a img{
    position: relative;
    margin: 0 15px;
    background-color: #FFFFFF;
    width: 150px;
    border-radius: 10px;
}

/* SlideShow */

* {box-sizing:border-box}

.slideshow-container {
    width: calc(100%);
    position: relative;
    margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.swipeDots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Index */

.imgDisplay {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.imgDisplayAlt {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.imgDisplay img, .imgDisplayAlt img {
    max-height: 200px;
}

.valueBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imgDisplay h4 {
    text-align: left;
}

.altBlock {
  background-color: #E9DFB4;
  padding: 40PX 60px 40px 60px;
  display: flex;
  gap: 40px;
  flex-direction: row;
  max-width: 90%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10vh;
  border-radius: 0 10Px 10px 0;
}

.altBlock img {
    max-width: 45%;
    height: 100%;
}

.altBlock p{
  text-align: justify;
}

/* Articles */
.articles-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.article-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-card a{
  text-decoration: none;
  color: #000000;
}

.article-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.article-card h2 {
  margin: 10px 0;
}
.article-card p {
  color: #555;
}
@media (min-width: 769px) {
  .articles-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .articles-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Article Solo */
.article-solo{
  margin: 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-main-block{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 40px;
}

.article-main-block img{
  max-width: calc(33%);
  height: 100%;
}

.article-main-infos{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.article-main-infos h1{
  margin: 0;
}

.article-contact {
  margin-top: 40px;
  background-color: #E14A4C;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
}

.article-contact a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.article-contact:hover {
  background-color: #FFFFFF;
  border-color: #E14A4C;
  transition: all 0.3s ease;

}

.article-contact:hover a {
  color: #E14A4C;
}


.article-main-tags a{
  color: #000;
}

.article-showcase{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.article-showcase img{
  max-height: 300px;
  width: auto;
}

/* Footer */

footer {
  background-color: #E14A4C;
  color: #FFFFFF;
  text-align: center;

}

.footer {
  display: flex;
  justify-content: center;
  gap: 9%;
  text-align: left;
}

.footer-img-container{
  display: flex;
  align-items: center;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer h5{
  font-weight: normal;
  margin: 1em 0;
}

.footer h4{
  margin: 1em 0;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  max-height: 250px;
  border-radius: 10px;
}

/* Contact */
.contact-container{
  margin: 100px 200px;
  display: flex;
  flex-direction: column;

}

.contact-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contact-main img{
  flex: 1;
  max-width: 33%;
  max-height: 600px;
  object-fit: cover;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
}

.contact-infos{
  align-self: flex-start;
  flex: 1;
  max-width: 50%;
}

.social-info {
  display: flex;
  position: relative;
  left: 0;
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: #E14A4C;
  fill: #E14A4C;
}


.map-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* About */
.about{
  margin: 100px 200px;
  display: flex;
  flex-direction: column;
}

.about-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.about-main img{
  flex: 1;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.about-main-info{
  flex: 1;
  max-width: 50%;
}

.styled-block {
  display: flex;
  flex-direction: row;
  background-color: #E14A4C;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 10%;
  overflow: visible;
  position: relative;
}

.styled-block img{
  right: calc((100vw - (400px + 50%)) / 3);
  top: -75px;
  width: auto;
  height: 700px;
  position: absolute;
}

.styled-block-infos{
  max-width: 60%;
  padding: 20px 50px;
}

.styled-block-infos h2{
  margin: 30px 0 !important;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.articulat-heavy-cf{
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.articulat-heavy-oblique-cf{
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.articulat-cf-normal{
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.articulat-cf-normal-oblique{
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.articulat-cf-demi-bold{
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.articulat-cf-demi-bold-oblique{
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.articulat-heavy-cf{
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.articulat-heavy-cf-oblique{
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Brillant';
  src:  url('font/brillant.ttf') format('truetype'); /* Fallback */
  font-weight: normal;
  font-style: normal;
}